@charset "UTF-8";

/* My Custom CSS*/

<head>
<style>
  body {
  font-family: "Outfit", sans-serif;
      
}
</style>
</head>

* {
  box-sizing: border-box;
}

.outfit-<uniquifier> {
  font-family: "Outfit", sans-serif;
  font-weight: <weight>;
  font-style: normal;
}

body {
    
    font-family: "Outfit", sans-serif;
    background-color: #B8000C;
}

body img {
    
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Grid Layout */

/* header navigation */
body header .navigation{
    width: 100%;
    text-align: center;
    background-color: #B8000C;
    vertical-align: bottom;
    line-height:120px;
    height:120px;
    padding-top: 5px;
}

body header #nav-list {
   list-style-type: none;
}

body header #nav-list li {
   display: inline-block;
   font-size: 18px;
   margin: 20px;
   display: inline-block;
   vertical-align: bottom;
   line-height: normal;     
}
body header .logo-img {
    position: absolute;
    left: 10px;
    top: -50px;
    z-index: 100;
    margin: 0px 15px 15px 0px;
}

body header .shopping cart {
    position: absolute;
    right: 10px;
    top: 10px;
}

/* link style */

a:link, a:visited {
    
    color: #FFFFFF;
}

a:focus, a:hover, a:active {
    
    color: #FFFFFF;
}

/* header styles */


h1 {
    
    margin-top: 0.2px;
    font-size: 2.2em;
    
}

/* nav styles */

nav, footer {
    
    font-family: "Outfit", sans-serif;
    background-color: #B8000C;
    
}

nav ul li a:link, nav ul li a:visited {
    
    color: #FFFFFF;
    
}


nav ul li a:focus, nav ul li a:hover, nav ul li a:active {
    
    color: #FFFFFF;
    
}

nav ul {
    
    padding: 10px;
    margin: 0;
    
    list-style-type: none;
    display: flex;
    justify-content: center;
    text-indent: 50px;
    
}

nav ul li a {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    
}

/* button group */

.btn-group button {
  border: none;
  border-radius: 5px;
  border-spacing: 1px;
  background-color: #B8000C;
  padding-bottom: 30px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

/* main styles */

main {
    
    font-family: "Outfit", sans-serif;
    background-color: #B8000C;
    color: #fff;
    padding: 50px;
    margin: 2.5%;
    display:table;
}

/* article style */

article {
    
    font-family: "Outfit", sans-serif;
    background-color: #B8000C;
    padding: 10px;
    padding-left: 15px;
    margin: 2.5%;
    border-spacing: 10px;
}

/* form style */
input[type=text] {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  box-sizing: border-box;
}

input[type=button], input[type=submit] {
  font-family: "Outfit", sans-serif;
  background-color: #000000;
  border: none;
  border-radius: 15px;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

/* footer styles */

footer {
    
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    padding: 5px; 
    
}

footer, .grid container {
  width: auto;
}

h1 {
    text-align: center;
    font-family: "Outfit", sans-serif;
    color: #FFFFFF 
}

h2 {
    
    font-family: "Outfit", sans-serif;
    color: #FFFFFF
    
}

h3 {
    
    font-family: "Outfit", sans-serif;
    color: #FFFFFF
}

p {
    
    font-family: "Outfit", sans-serif;
    color: #FFFFFF
    
}