@charset "UTF-8";

/* My Custom CSS*/

<head>
<style>
  body {
  font-family: "Outfit", sans-serif;
      
}
</style>
</head>

* {
  box-sizing: border-box;
}

.outfit-<uniquifier> {
  font-family: "Outfit", sans-serif;
  font-weight: <weight>;
  font-style: normal;
}

body {
    
    font-family: "Outfit", sans-serif;
    background-color: #B8000C;
}

body img {
    
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Grid Layout */

/* Style the slider */

body #wowslider-container1 {
    width: 85%;
    height: 85%;
    padding-top: 150px;
}

/* header navigation */
body header .navigation{
    width: 100%;
    text-align: center;
    background-color: #B8000C;
    vertical-align: bottom;
    line-height:120px;
    height:120px;
    padding-top: 5px;
}

body header #nav-list {
   list-style-type: none;
}

body header #nav-list li {
   display: inline-block;
   font-size: 18px;
   margin: 20px;
   display: inline-block;
   vertical-align: bottom;
   line-height: normal;     
}
body header .logo-img {
    position: absolute;
    left: 10px;
    top: -50px;
    z-index: 100;
    margin: 0px 15px 15px 0px;
}

body header .shopping cart {
    position: absolute;
    right: 10px;
    top: 10px;
}

/* image gallery */
div.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div.gallery-item {
  margin: 5px;
  border: 1px solid #B8000C;
  border-width: auto;
  width: 180px;
  padding: 0 6px;
  width: 24.99999%;
}

div.gallery-item img {
  width: 100%;
  height: auto;
}

div.gallery-item div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

@media only screen and (max-width: 700px) {
  div.gallery {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  div.gallery {
    width: 100%;
  }
}

/* recipe gallery */
div.recipe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div.recipe-item {
  margin: 5px;
  background-color: #fff;
  border-width: 10px;
  border-radius: 30px;
  height: 400px;
  padding: 0 50px;
  width: 25%;
}

div.recipe-item img {
  width: 100%;
  height: auto;
}

div.recipe-item div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

@media only screen and (max-width: 700px) {
  div.recipe {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  div.recipe {
    width: 100%;
  }
}

/* recipe gallery button */
.button {
  background-color: #B8000C;
  border: none;
  border-radius: 30px;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

input[type=button], input[type=submit] {
  font-family: "Outfit", sans-serif;
  background-color: #000000;
  border: none;
  border-radius: 15px;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

/* link style */

a:link, a:visited {
    
    color: #FFFFFF;
}

a:focus, a:hover, a:active {
    
    color: #FFFFFF;
}

/* header styles */


h1 {
    
    margin-top: 0.2px;
    font-size: 2.2em;
    
}

div.header {
    margin: 2.5%
}

/* nav styles */

nav, footer {
    
    font-family: "Outfit", sans-serif;
    background-color: #B8000C;
    
}

nav ul li a:link, nav ul li a:visited {
    
    color: #FFFFFF;
    
}


nav ul li a:focus, nav ul li a:hover, nav ul li a:active {
    
    color: #FFFFFF;
    
}

nav ul {
    
    padding: 10px;
    margin: 0;
    
    list-style-type: none;
    display: flex;
    justify-content: center;
    text-indent: 50px;
    
}

nav ul li a {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    
}

/* main styles */

main {
    
    font-family: "Outfit", sans-serif;
    background-color: #B8000C;
    color: #fff;
    padding: 10px;
    margin: 2.5%;
    display:table;
}

/* section styles */

section {
    
    font-family: "Outfit", sans-serif;
    background-color: #B8000C;
    color: #fff;
    padding: 10px;
    margin: 2.5%;
    display: table;
    align-items: center;
    text-align: left;
    font-size: 1.8em;
}

section img {
    place-items: right;
    margin: 0 20px 20px 0;
    width: 25%;
    height: 50%; 
}

/* img float */

article img {
    
    float: center;
    margin: 0 20px 20px 0;
}

main img {
    
    float: left;
    text-align: center;
    margin: 10px;
}

/* image placement */

.img-container {
  float: left;
  align-items: center;
  width: 20%;
  padding: 5px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* article style */

article {
    
    font-family: "Outfit", sans-serif;
    background-color: #B8000C;
    padding: 5px;
    padding-left: 15px;
    margin: 2.5%
    
}

/* Flexbox */

.images {
    
    display: block;
    margin: auto;
    float: center;
}

/* footer styles */

footer {
    
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 30px;
    padding-top: 10px;
}

footer {
  width: auto;
}

/* footer button group */

.btn-group, button {
  border: none;
  border-radius: 1px; 
  background-color: #B8000C;
  padding: 10px;
  padding-bottom: 30px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

/* font styles */

h1 {
    text-align: center;
    font-family: "Outfit", sans-serif;
    color: #FFFFFF 
}

h2 {
    font-family: "Outfit", sans-serif;
    color: #FFFFFF
}

h3 {
    text-align: center;
    font-family: "Outfit", sans-serif;
    color: #FFFFFF
}

h4 {
    font-family: "Outfit", sans-serif;
    color: #FFFFFF
}

p {
    font-family: "Outfit", sans-serif;
    color: #FFFFFF
}
    
